* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	color: white;
	background-color: black;
	gap: 10px;
	font-size: 24px;
}

#result_container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 60%;
}
#result_container > p {
	font-size: 40px;
}
#result_container > p:first-child {
	font-size: 60px;
}
#result_container > button {
	width: 20%;
	padding: 5px 10px;
	font-size: 20px;
}

#bilan_container {
	display: flex;
	gap: 20px;
	width: 100%;
	padding: 20px;
}
#bilan_container > div {
	width: 50%;
}
#bilan_container > div > p {
	font-size: 40px;
}
#bilan_container > div > button {
	width: 20%;
	padding: 5px 10px;
	font-size: 20px;
}

#question_container {
	display: flex;
	width: 100%;
	height: 100%;
}
#question_container > div {
	flex: 1;
}
#question_container > div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5%;
}
#question_container > div:first-child > p {
	font-weight: bold;
	width: 70%;
	height: 3rem;
	font-size: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding: 40px;
	color: black;
	background-color: rgb(248, 232, 0);
}
#question_container > div:last-child {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
#question_container > div:last-child > .response {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#question_container > div:last-child > .response > div {
	background-color: rgb(33, 117, 8);
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 40px;
	padding: 10px;
}
#question_container > div:last-child > .response > div:hover {
	cursor: pointer;
	background-color: rgb(17, 65, 3);
	border: solid 1px white;
	filter: drop-shadow(0 0 0.5rem white);
}

button {
	background-color: rgb(190, 171, 0);
	border-radius: 5px;
	border: 1px solid grey;
}
button:hover {
	background-color: rgb(133, 108, 0);
}
button:active {
	background-color: rgb(255, 236, 66);
}
